{{template "base" .}}

{{define "title"}}About{{end}}

{{define "main"}}
  <h2>About</h2>
  <p>
    Welcome to my snippetbox! This website was built following the tutorial in 
    <a href='https://lets-go.alexedwards.net/'>Let's Go by Alex Edwards</a>, and
    just for myself to learning web programming with golang. Enjoy this snippetbox!
  </p>
{{end}}